.card{
    display: flex;
    justify-content: flex-start;    
    flex-direction: row;
    margin-bottom: 1rem;   
    border: 1px solid #f7f7f7;
    &__img{                       
        img{
            object-fit: cover;
            min-width: 200px;            
        }
    }
    &__body{
        padding: 1rem;
        button{
            margin-top: 3rem;
            cursor: pointer;
        }
    }
}